
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && (request.auth.token.role == 'diretor' || request.auth.token.role == 'analyst');
    }

    match /tripRecords/{recordId} {
      allow read, write, list, delete: if isAdmin();
    }

    match /fuelingRecords/{recordId} {
        allow read, write, list, delete: if isAdmin();
    }
    
    match /checklistRecords/{recordId} {
        allow read, write, list, delete: if isAdmin();
    }

    match /dieselPrices/{priceId} {
        allow read, write, list, delete: if isAdmin();
    }

    match /vehicleParameters/{carId} {
        allow read, write, list, delete: if isAdmin();
    }

    match /maintenanceRecords/{recordId} {
        allow read, write, list, delete: if isAdmin();
    }
  }
}
