
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite que qualquer pessoa leia e escreva nas pastas de fotos.
    // Isso é necessário para os formulários públicos de vistoria e registro de KM.
    match /trip_photos/{allPaths=**} {
      allow read, write: if true;
    }

    match /checklist_photos/{allPaths=**} {
      allow read, write: if true;
    }

    // Regra padrão: nega acesso a todas as outras rotas para usuários não autenticados.
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
